---
const { titulo, subtitulo, imagen1, imagen2, imagen3 } = Astro.props;
---

<section id="seccionImagenesInicio">
  <div class="relative w-full overflow-hidden">
    <!-- Texto en dos líneas -->
    <div
      class="absolute bottom-10 left-5 md:bottom-20 md:left-10 lg:bottom-20 lg:left-10 z-20 text-white max-w-xs md:max-w-xl"
    >
      <h1
        id="linea1"
        class="text-xl sm:text-xl md:text-4xl font-bold whitespace-pre"
        data-texto={titulo}
      ></h1>
      <h1
        id="linea2"
        class="text-sm sm:text-sm md:text-2xl lg:text-2xl  font-semibold mt-1 whitespace-pre"
        data-texto={subtitulo}
      ></h1>
    </div>

    <!-- Carrusel -->
    <div
      id="carousel"
      class="flex transition-transform duration-1000 ease-in-out h-[40vh] sm:h-[50vh] lg:h-screen"
    >
      <div class="w-full flex-shrink-0">
        <img src={imagen1.src} class="w-full h-full object-cover" />
      </div>
      <div class="w-full flex-shrink-0">
        <img src={imagen2.src} class="w-full h-full object-cover" />
      </div>
      <div class="w-full flex-shrink-0">
        <img src={imagen3.src} class="w-full h-full object-cover" />
      </div>
      <div class="w-full flex-shrink-0">
        <img src={imagen1.src} class="w-full h-full object-cover" />
      </div>
    </div>
  </div>
</section>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    function animarTexto(id) {
      const el = document.getElementById(id);
      const texto = el.dataset.texto;
      let i = 0;
      const escribir = () => {
        if (i < texto.length) {
          el.textContent += texto.charAt(i);
          i++;
          setTimeout(escribir, 50);
        }
      };
      escribir();
    }

    animarTexto("linea1");
    setTimeout(() => animarTexto("linea2"), 600); // retraso entre líneas

    // Carrusel
    const track = document.getElementById("carousel");
    const totalSlides = 3;
    let index = 0;

    function goToSlide(i, animate = true) {
      track.style.transitionDuration = animate ? "1000ms" : "0ms";
      track.style.transform = `translateX(-${i * 100}%)`;
    }

    setInterval(() => {
      index++;
      goToSlide(index);

      if (index === totalSlides) {
        setTimeout(() => {
          goToSlide(0, false);
          index = 0;
        }, 1000);
      }
    }, 5000);
  });
</script>
