---
const { titulo, imagen1, imagen2, imagen3 } = Astro.props;
---

<section id="seccionImagenesInicio">
  <div class="relative w-full overflow-hidden">
    <!-- Texto fijo -->
    <div
      class="absolute bottom-4 left-4 md:bottom-20 md:left-10 z-20 text-white max-w-xs md:max-w-xl"
    >
      <h1 id="tituloAnimado" class="text-xl sm:text-xl md:text-4xl font-bold animar-zoom-in">
        {titulo}
      </h1>
    </div>

    <!-- Carrusel con imagen duplicada al final -->
    <div
      id="carousel"
      class="flex transition-transform duration-1000 ease-in-out h-[40vh] sm:h-[50vh] lg:h-screen"
    >
      <div class="w-full flex-shrink-0">
        <img
          src={imagen1.src}
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full flex-shrink-0">
        <img
          src={imagen2.src}
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full flex-shrink-0">
        <img
          src={imagen3.src}
          class="w-full h-full object-cover"
        />
      </div>
      <!-- duplicado de la primera -->
      <div class="w-full flex-shrink-0">
        <img
          src={imagen1.src}
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
</section>

<script>
   document.addEventListener("DOMContentLoaded", () => {
    const track = document.getElementById("carousel") as HTMLElement;
    const totalSlides = 3;
    let index = 0;

    function goToSlide(i:number, animate = true) {
      track.style.transitionDuration = animate ? "1000ms" : "0ms";
      track.style.transform = `translateX(-${i * 100}%)`;
    }

    setInterval(() => {
      index++;
      goToSlide(index);

      if (index === totalSlides) {
        setTimeout(() => {
          goToSlide(0, false);
          index = 0;
        }, 1000);
      }
    }, 5000);
  });

  document.addEventListener("DOMContentLoaded", () => {
    const titulo = document.getElementById("tituloAnimado") as HTMLElement;
    setTimeout(() => {
      titulo.classList.add("animado");
    }, 300); 
  });
</script>

<style>
  .animar-zoom-in {
    opacity: 0;
    transform: scale(0.5);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }

  .animado {
    opacity: 1;
    transform: scale(1);
  }
</style>
