---
import Layout from "../../layouts/Layout.astro";
import SeccionImagenGeneral from "../../components/seccion_imagen_general.astro"
import fondoInvestigador from "../../assets/fondo_investigador.png";
import imagenDefault from "../../assets/imagen_default_1.png"

import { getInvestigadorPorId } from "../../lib/investigadores.js";
const { id } = Astro.params;
const investigador = await getInvestigadorPorId(id);
---

<Layout>
  <main class="relative">
    <!-- Imagen de fondo con texto animado (sin overlay personalizado aún) -->
    <SeccionImagenGeneral titulo="" imagen={fondoInvestigador} />

    {
      investigador && (
        <!-- Contenedor sobrepuesto encima de la imagen -->
        <div class="absolute top-15 md:top-20 lg:top-20 left-1/2 transform -translate-x-1/2 z-30 flex flex-col items-center text-white">
          <img
            src={investigador.foto || imagenDefault.src}
            alt={`Foto de ${investigador.nombre}`}
            class="rounded-full w-40 h-40 md:w-90 md:h-90 lg:w-100 lg:h-100 object-cover border-4 border-white shadow-lg mb-2 md:mb-5 lg:mb-8"
          />
          <h1 class="text-xl md:text-3xl lg:text-4xl font-bold drop-shadow whitespace-nowrap">{investigador.nombre}</h1>
        </div>
      )
    }

    <section id="investigador_seleccionado" class="py-8 bg-white text-center relative z-10">
      <div class="container mx-auto">
        <div class="text-black">
          {
            investigador ? (
              <section class="p-8 max-w-3xl mx-auto">
                <p>
                  <strong>Cargo:</strong> {investigador.cargo}
                </p>
                <p>
                  <strong>Correo:</strong> {investigador.correo}
                </p>
                <p>
                  <strong>Biografía:</strong>{" "}
                  {investigador.bio || "No disponible"}
                </p>
              </section>
            ) : (
              <p class="text-center text-red-600 mt-20">
                Investigador no encontrado.
              </p>
            )
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

